/* chandeliers */
/* header section start */

.header_sec {
  width: 100%;
  float: left;
  background-image: url(../img/chandelier/header/chan-bg.png);
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

.header_bg {
  width: 100%;
  float: left;
  background-image: url(../img/chandelier/header/chan-bg.png);
  height: auto;
  background-size: 100%;
  background-repeat: no-repeat;
}

/* end */