/* Common header styles */
.header {
  width: 100%;
  height: auto;
  background-repeat: no-repeat;
}

/* chandeliers */
.header_sec,
.header_bg {
  width: 100%;
  float: left;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_sec {
  background-image: url(../img/chandelier/header/chan-bg.png);
}

.header_bg {
  background-image: url(../img/chandelier/header/chan-bg.png);
}

/* ceiling light */
.header_se,
.header_bg {
  width: 100%;
  float: left;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_se {
  background-image: url(../img/CEILING/header/ceiling-bg.png);
}

.header_bg {
  background-image: url(../img/CEILING/header/ceiling-bg.png);
}

/* walls */
.header_sect,
.header_bg {
  width: 100%;
  float: left;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_sect {
  background-image: url(../img/walls/header/wall-bg.png);
}

.header_bg {
  background-image: url(../img/walls/header/wall-bg.png);
}

/* down light */
.header_set,
.header_bg {
  width: 100%;
  float: left;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_set {
  background-image: url(../img/dls/header/dl-bg.png);
}

.header_bg {
  background-image: url(../img/dls/header/dl-bg.png);
}

/* panel light */
.header_sett,
.header_bg {
  width: 100%;
  float: left;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_sett {
  background-image: url(../img/panel/display/panel_bg.jpg);
}

.header_bg {
  background-image: url(../img/panel/display/panel_bg.jpg);
}

/* strip light */
.header_sector,
.header_bg {
  width: 100%;
  float: left;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_sector {
  background-image: url(../img/strips/header/bg-2.png);
}

.header_bg {
  background-image: url(../img/strips/header/bg-2.png);
}

/* flood light */
.header_sectors,
.header_bg {
  width: 100%;
  float: left;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_sectors {
  background-image: url(../img/floods/header/yrvge6hp.png);
}

.header_bg {
  background-image: url(../img/floods/header/yrvge6hp.png);
}

/*led bulb */
.header_sections,
.header_bg {
  width: 100%;
  float: left;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_sections {
  background-image: url(../img/bulbs/header3.jpg);
}

.header_bg {
  background-image: url(../img/bulbs/header3.jpg);
}

/*filament bulb */
.header_sectory,
.header_bg {
  width: 100%;
  float: left;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_sectory {
  background-image: url(../img/filament/header/background.jpg);
}

.header_bg {
  background-image: url(../img/filament/header/background.jpg);
}

/*tubes bulb */
.header_sectorum,
.header_bg {
  width: 100%;
  float: left;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_sectorum {
  background-image: url(../img/tubes/header/bg-heaer.png);
}

.header_bg {
  background-image: url(../img/tubes/header/bg-heaer.png);
}

/*track light */
.header_track,
.header_bg {
  width: 100%;
  float: left;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.header_track {
  background-image: url(../img/tracks/header/bg-h.png);
}

.header_bg {
  background-image: url(../img/tracks/header/bg-h.png);
}
